/* GLOBAL STYLES */

/* Global color variables */
:root {
    --textLight: #cfcfcf;
    --textDark: #707070;
    --accent: #E49B0B;
    --accentTransparent: rgb(228, 155, 11, 0.85);
    --darkestColor: #131313;
    --blackOverlay: rgba(0, 0, 0, 0.8);
}

/* body */
body {
    font-family: 'Poppins', sans-serif;
    color: var(--textDark);
    line-height: 1.6;
    padding: 0;
    margin: 0;
}


/* headers styles */
h1, h2 {
    color: var(--accent);
    font-weight: bolder;
}

h2 {
    margin-bottom: 50px;
}

h4 {
    font-size: 0.9em;
}

/* styling for anchor tags, including hover effects */
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
        color: var(--accent) !important;
        text-decoration: none;
    }
}

/* button style */
button {
    background-image: none !important;
    background-color: var(--accent);
    color: #E49B0B;
}

button:hover {
    background-image: none !important;
    background-color: var(--accent) !important;
    box-shadow:0 4px 6px rgba(0, 0, 0, 0.7);
}


/* HERO SECTION */

/* background styling for the header */
.hero {
    background-image: url("../images/aleks_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header p {
    color: var(--textLight);
}


/* SECTIONS STYLE */

/* shared styles for the about and contact sections */
.about, .work, .skills {
    padding: 70px 20vw 70px 20vw;
    text-align: center;
}

/* SKILLS STYLE */
.skills {
    background-color: var(--accent);
    color: var(--darkestColor);
}

.skills h2 {
    color: var(--darkestColor);
}

.skills ul li {
    padding: 10px 20px;
    border: var(--darkestColor);
    border: solid;
}


/* ABOUT & CONTACT STYLES */

/* link style */
.about a {
    font-weight: bold;
    text-transform: uppercase;
} 

/* styling for icons, including hover effects */
.about i {
    color: var(--textDark);

    &:hover {
        color: var(--accent);
        transition: color 0.3s;
    }
}


/* MY WORK STYLE */

/* styling for the work section */
.work {
    background-color: var(--darkestColor);
}

.work h2 {
    color: var(--textLight);
}

/* image style in work section */
img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 400px;
}

#featuredWork img {
    height: 550px;
}

/* description overlay animation */
.details {
    background-color: var(--accentTransparent);
    height: 25%;
    color: var(--darkestColor);

    &:hover {
        height: 100%;
        transition: height 0.6s;
        color: var(--darkestColor);
    }
}

/* hide description in the primary state */
.description {
    display: none;
}

/* show description when hovered */
.details:hover .description {
    display: block;
    color: var(--darkestColor);
    font-size: 0.8em;
    line-height: 1.4;
}


/* FOOTER STYLE */
footer {
    background-color: var(--accent);
}

footer a:hover {
    color: var(--darkestColor) !important;
}




/* RESPONSIVE STYLES */

/* styles for screens up to 992px in width */
@media only screen and (max-width: 992px) {

    /* HEADER: add overlay in header */
    header {
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--blackOverlay); 
            z-index: -1; 
        }
    }

    /* smaller x-padding for sections to keep the content centered */
    .about, .skills {
        padding: 70px 5vw;
    }

    .work {
        padding: 70px 0;
    }

    /* SKILLS: setting li elements in columns */
    .skills li {
        margin: 10px 20px;
        min-width: 200px;
    }

    .skills li:last-child {
        margin: 10px 8px 10px 20px !important;
    }

    /* WORK: changing height of the featured work picture */
    #featuredWork img {
        height: 400px;
    }

    /* WORK: fix overlay and hide description */
    .details:hover {
            height: 25%;
    }

    .details:hover .description {
        display: none;
    }

    /* WORK: add 'open in new tab' icon */
    .details h3:after {
        white-space:pre; 
        content: '   \f08e';
        font-family: FontAwesome;
        font-size: 0.7em;
        font-weight:normal;
    }
}