/* GLOBAL STYLES */

/* Global color variables */
:root {
    --textLight: #cfcfcf;
    --textDark: #707070;
    --accent: #E49B0B;
    --accentTransparent: rgb(228, 155, 11, 0.85);
    --darkestColor: #131313;
    --blackOverlay: rgba(0, 0, 0, 0.8);
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--textDark);
    line-height: 1.6;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
}

h1, h2 {
    color: var(--accent);
    font-weight: bolder;
}

h2 {
    margin-bottom: 50px;
}

h4 {
    font-size: 0.9em;
}

/* styling for anchor tags, including hover effects */
a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
        color: var(--accent) !important;
        text-decoration: none;
    }
}


/* NAVIGATION STYLES */

nav {
    font-weight: bolder;
}

/* HERO SECTION */

/* background styling for the header */
.hero {
    background-image: url("../images/aleks_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* positioning */
.heroTitle {
    left: 60vw;
    top: 50vh;
    width: 30vw;
}

header p {
    color: var(--textLight);
}


/* SECTIONS STYLE */

/* shared styles for the about and contact sections */
.about, .work, .skills {
    padding: 70px 20vw 70px 20vw;
    text-align: center;
}

/* SKILLS STYLE */
.skills {
    background-color: var(--accent);
    color: var(--darkestColor);
}

.skills h2 {
    color: var(--darkestColor);
}

.skills ul {
    display: flex;
    justify-content: space-around;
}

.skills ul li {
    padding: 10px 20px;
    border: #131313;
    border: solid;
}


/* ABOUT & CONTACT STYLES */

/* styling for icons container */
.about ul {
    list-style-type: none;
}

.about a {
    font-weight: bold;
    text-transform: uppercase;
} 

/* styling for icons, including hover effects */
.about i {
    color: var(--textDark);

    &:hover {
        fill: var(--accent);
        transition: fill 0.3s;
    }
}

/* MY WORK STYLE */

/* styling for the work section */
.work {
    background-color: var(--darkestColor);
}

.work h2 {
    color: var(--textLight);
}


img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 400px;
}

#featuredWork img {
    height: 550px;
}

.details {
    background-color: var(--accentTransparent);
    height: 25%;
    color: var(--darkestColor);

    &:hover {
        height: 100%;
        transition: height 0.6s;
        color: var(--darkestColor);
    }
}

/* hidden description in the primary state */
.description {
    display: none;
}

/* show description when hovered */
.details:hover .description {
    display: block;
    color: var(--darkestColor);
    font-size: 0.8em;
    line-height: 1.4;
}







/* RESPONSIVE STYLES */

/* styles for screens up to 1000px in width */
@media only screen and (max-width: 992px) {

    /* add overlay and change position of the text and title in header */
    header {
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--blackOverlay); 
            z-index: -1; 
        }
    }

    .heroTitle {
        left: 20vw;
        top: 50vh;
        width: 70vw;
    }

    /* change margins in the about and contact sections */
    .about, .work {
        padding: 70px 5vw 70px 5vw;
    }

    .about h2 {
        text-align: center;
    }

    .about p {
        text-align: center;
    }

    .about ul li {
        display: inline;
        text-align: center;
        margin: 0 20px;
    }

    .about ul {
        margin-bottom: 70px;
    }

    .skills ul {
        display: block; 
    }
    
    .skills li {
        margin: 10px 20px;
        min-width: 25vw;
    }

    .skills li:last-child {
        margin: 10px 8px 10px 20px !important;
    }


    /* WORK */
    #featuredWork img {
        height: 400px;
    }


    /* Adapt overlay and hide long description for mobile */

    .details:hover {
            height: 25%;
    }


    .details h3:after {
        white-space:pre; 
        content: '   \f08e';
        font-family: FontAwesome;
        font-size: 0.7em;
        font-weight:normal;
    }

    .details:hover .description {
        display: none;
    }

}